/*========================================*/
/*                GLOBAL                  */
/*========================================*/
@font-face {
    font-family: AvenirLT-Roman;
    src: url('./fonts/AvenirLT/AvenirLTStd-Roman.otf');
}

.dropdown-menu, .btn, .form-control {
  border-radius: 0px;
}

.alert-success {
  color: white;
  background-color: rgba(141, 92, 62, 0.9);
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.glyphicon {
  color: rgba(10, 31, 12, 0.9);
}

.glyphicon-search {
  color: white; 
}

/*========================================*/
/*           BANNER CONTAINTER            */
/*========================================*/

#s-lib-bc {
  display: none;
}

#s-lg-guide-header-meta {
  display: none;

}

#s-lib-footer-public {
  display: none;
}

#s-lg-guide-header-info {
  display: none;
}

#s-lg-guide-header-search {
  display: none;
}

body {
  padding-left: 0;
  padding-right: 0;
}

#s-lg-guide-main {
  padding: 10px;
}

#brand-col {
  padding-left: 25px;
}

#header-container {
  background-color: rgb(141, 92, 62);
  margin: 0;
}

#header-container h1 {
  font-size: 50px;
  margin-top: 21px;
  margin-bottom: 10px;
}

#lib-name {
  font-family: 'AvenirLT-Roman';
  padding-top: 20px;
  padding-left: 0px;
}

#lib-logo img {
  width: 90px;
  float: left;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 20px;
}

/*========================================*/
/*           NAVBAR CONTAINTER            */
/*========================================*/

#header-nav {
  background: white;
  border-top: 1px solid #ffffff;
  border-bottom: none;
  box-shadow: 3px 3px 10px 1px #979aa0;
}

#header-nav .navbar {
  min-height: 15px;
  background-color: white;
}

#header-nav a {
  color: rgb(141, 92, 62);
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'AvenirLT-Roman';
  font-weight: 500;
}

#Navbarcollapse{
  padding-left: 10px;
  padding-right: 0px;
}

#header-nav a:hover {
  color: #000000;
}

#header-nav .dropdown:hover .dropdown-menu {
  display: block;
}

#header-nav .dropdown-menu .divider {
  margin: 1px 0;
}

#header-nav .navbar-default .navbar-collapse, .header-nav .navbar-default .navbar-form {
  background-color: white;
}

#header-nav .navbar-default {
  width: auto;
  border: none;
  margin: 0px;
}

#header-nav .dropdown-menu a {
  color: #555555;
}

#header-nav .dropdown-menu a:hover {
  background-color: rgba(141, 92, 62, 0.9);
  color: #ffffff;
}

#header-nav .navbar-default .navbar-nav > .open > a {
  color: #013f70;
  background-color: #cccccc;
}

#header-nav .navbar-default .navbar-nav > li.open > a {
  color: #ffffff;
  background-color: rgb(141, 92, 62);
}

#header-nav .container {
  padding: 0px;
}

#header-nav .navbar-nav .dropdown:hover > a[data-toggle=dropdown] + .dropdown-menu {   display: none;}
#header-nav .navbar-nav .dropdown.open > a[data-toggle=dropdown] + .dropdown-menu {   display: block; }

/*========================================*/
/*       BANNER-SEARCH CONTAINER          */
/*========================================*/

#search-background {
  background-image: url("img/bennington-main-banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner-search-container {
  padding: 70px;
}

#banner-search-container p {
  color: #ffffff;
  font-size: 31px;
}

#searchBox-wrapper {
  width: 100%;
  padding: 40px;
  font-family: 'AvenirLT-Roman';
}

#searchBox-wrapper #searchBox-row .input-group .btn {
  height: 50px;
  background-color: rgb(141, 92, 62);
  color: white;
}

#ebscohostsearchtext {
  height: 50px;
  border-radius: 0px;
  font-family: 'AvenirLT-Roman';
  font-size: 18px;
}

#ebscohostCustomSearchBox, #eco-journals, #search-reserve, #search-archive, #catalog {
  display: inherit;
  width: 100%;
}

#searchIcon {
  width: 50px;
}

/*========================================*/
/*             BANNER CONTAINER           */
/*========================================*/

#sub-banner-container {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: rgba(132, 134, 140, 0.07);
  font-family: 'AvenirLT-Roman';
  color: black;
}

/*========================================*/
/*             ALERT CONTAINER            */
/*========================================*/

#alert-container a {
  font-family: 'AvenirLT-Roman';
  font-size: 18px;
  font-weight: 500;
  color: rgba(141, 92, 62, 0.9);
}

#notifications-table {
  font-family: 'AvenirLT-Roman';
  font-size: 14px;
}

#notifications-table a {
  font-family: 'AvenirLT-Roman';
  font-size: 15px;
  font-weight: 500;
  color: rgba(141, 92, 62, 0.9);
}

#rss-feed a {
  font-family: 'AvenirLT-Roman';
  font-size: 18px;
  font-weight: 500;
  color: rgba(141, 92, 62, 0.9);
}

#alert-container .badge {
  background-color: rgba(141, 92, 62, 0.9);
}

/*========================================*/
/*           SUB-MAIN CONTAINER           */
/*========================================*/

#sub-main-container {
  font-family: 'AvenirLT-Roman';
}

#sub-banner-container h1 {
  color: rgb(141, 92, 62);
}

#sub-banner-container h4, p, a {
  color: #777;
}

#sub-main-container h4, h3 {
  color: rgb(141, 92, 62);
}

#sub-main-container a {
  color: #777;
}

/*========================================*/
/*             FOOTER CONTAINER           */
/*========================================*/

#social-icon-wrapper {
  width: 100%;
  padding: 10px;
}

#social-icon-wrapper img {
  margin: 5px;
  width: 45px;
  height: 45px;
}

.footer-bottom {
    background-color: rgba(141, 92, 62, 1);
    min-height: 30px;
    width: 100%;
    box-shadow: 3px 3px 10px 1px #979aa0;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.copyright a {
    color: #fff;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}


.design a {
    color: #fff;
}

/*========================================*/
/*             MEDIA QUERIES              */
/*========================================*/

@media screen and (max-width: 575px) {
  #banner-search-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #lib-logo img {
    width: 50px;
    height: 80px;
  }

  #lib-name h1 {
    margin-top: 5px;
    font-size: 29px;
  }

  #header-nav a {
    padding-left: 30px;
    font-size: 16px;
  }  

  #heading-row p {
    font-size: 26px;
  }

  #events-wrapper {
    display: none;
  }

  #sub-banner-container h1 {
    font-size: 31px;
  }

  #carousel-wrapper {
    display: none;
  }

  #project-wrapper {
    display: none;
  }

  #social-icon-wrapper {
    font-size: 11px;
  }

  #footer {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #lib-logo img {
    width: 60px;
    height: 90px;
  }

  #lib-name h1 {
    margin-top: 9px;
    font-size: 34px;
  }

  #header-nav a {
    padding-left: 35px;
    font-size: 16px;
  }

  #banner-search-container {
    padding: 50px;
  }  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #lib-logo img {
    width: 70px;
    height: 100px;
  }

  #lib-name h1 {
    margin-top: 13px;
    font-size: 39px;
  }

  #header-nav a {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  #header-nav a {
    font-size: 16px;
  }
}


/*========================================*/
/*      SEARCH RESULTS - INDIVIDUAL       */
/*========================================*/
/* tab rounding styles for selection switches*/
.bibTabOn {background: transparent; float:left; margin:0 5px -1px 0; }
.bibTabOff {background: transparent; float:left; margin:0 5px 0 0; }
.bibSimTabOn {background: transparent; float:left; margin:0 5px -1px 0; }
.bibSimTabOff {background: transparent; float:left; margin:0 5px 0 0; }
.bibTabContent {width:100px;background-color: #bcd1ba; text-align:center; padding:5px 0 5px 0;height:15px; }
.bibTabSelected {width:100px;background-color: #d9e8d8; text-align:center; padding:5px 0 5px 0; border-left:1px solid #666666; border-right:1px solid #666666; height:18px; margin:0 0 0 0; }
.bibSimTabSelected {width:150px;background-color: #d9e8d8; text-align:center; padding:5px 0 5px 0; border-left:1px solid #666666; border-right:1px solid #666666; height:18px;  margin:0 0 0 0; }
.bibSimTabContent {width:150px;background-color: #bcd1ba; text-align:center; padding:5px 0 5px 0;  height:15px; }
#infoTable {width:100%; float:left; font-size:17px; color: #000; text-align: center; vertical-align: center;}
div.bibContentBox div a {color:#336699;text-decoration:none; font-weight:bold; outline:none; font-size:85%;}
div.bibContentBox div a:hover {color:#336699; text-decoration:underline; font-weight:bold; outline:none; font-size:85%;}
.bibContentWrapper {border:0 solid #666666; border-width:1px 1px 0 1px;clear:both;padding:0 10px 0 10px; background:#d9e8d8; display:block;}
.tabTop, .tabBottom {display:block; background:transparent; font-size:1px;}
.selected1, .selected2, .selected3, .selected4 {display:block; overflow:hidden;}
.selected1, .selected2, .selected3 {height:1px;}
.selected2, .selected3, .selected4 {background:#d9e8d8;  border-left:1px solid #666666; border-right:1px solid #666666;}
.selected1 {margin:0 5px; background:#666666;}
.selected2 {margin:0 3px; border-width:0 2px;}
.selected3 {margin:0 2px;}
.selected4 {height:2px; margin:0 1px;}
.option1, .option2, .option3, .option4 {display:block; overflow:hidden;}
.option1, .option2, .option3 {height:1px;}
.option2, .option3, .option4 {background:#bcd1ba;}
.option1 {margin:0 5px; background:#bcd1ba;}
.option2 {margin:0 3px; border-width:0 2px;}
.option3 {margin:0 2px;}
.option4 {height:2px; margin:0 1px;}
.bibContentWrapper {border:0 solid #666666; border-width:1px 1px 0 1px;clear:both;padding:0 10px 0 10px; background:#d9e8d8; display:block;}
.bibContentSectionOptions {width:95%;display:none;margin:-10px 0 0 0; }
.bibContentSectionDefault {width:95%;margin:-10px 0 0 0; }


/*========================================*/
/*      SEARCH RESULTS - TOTAL       */
/*========================================*/

.briefcitActions { padding:5px 0 5px 0;text-align:left; }

.briefcitBookcartMark {  }

.briefcitCell { background:#FFFFFF; border-bottom:1px solid #ECECEC; font-size:.9187em; }

.briefcitClear { clear:both; }

.briefcitDetail, .briefcitAuthDetail  { display:inline; float:left; padding:0px 0 0px 3px; width:65%; }

.briefcitAuthDetail { margin-bottom:12px; }

.briefcitDetailMain  { float:right; width:100% }

.briefcitEntryNum { color:#767C70; float:right; font-size:.7em; padding-left:2px; }

.briefcitActions { margin-bottom:10px; }

.briefcitLeft, .briefcitResourceLeft { display:inline; float:left; margin-bottom:30px; padding:0; text-align:left; width:41px; }

.briefcitResourceLeft { margin-bottom:20px; }

.briefcitItems  { clear:both; padding-left:10px; width:90%; }

.briefcitItems em { font-size:.9em; }

.briefcitItems table { border:0; border-collapse:collapse; padding:8px 0 0 0; }

.briefcitItems th { border:0; color:#767C70; font-size:.75em; padding:0; text-align:left; }

.briefcitItems td { border-top:1px solid #ECECEC; }

.briefcitItemsHeader { float:left; margin-right:15px; }

.briefcitItemsHeader h2 { color:#F7960C; font-size:1em; margin:0; }

.briefcitItemsMain { float:left; width:85%; }

.briefcitMark { float:right; padding-left:2px; padding-top:2px}

.briefcitMedia, .bibMedia, .briefcitResourceMedia, .briefcitProgramMedia, td.browseEntryMedia, td.browseSubEntryMedia { color:#878787; font-size:.7em; line-height:.95em; margin-top:6em; overflow:hidden; width:41px; text-align:center; }

.briefcitResourceMedia, .briefcitProgramMedia { margin-top:3em; }

.briefcitMediaEnd { display:none; }

.briefcitJacket  { float:left; margin:5px 15px; width:80px; display:inline; }

.briefcitStatus { font-weight:bold; }

.briefcitRatings h2 { position:absolute; top:-1000px; left:1000px; font-size:.1em; }

.briefcitResource { width:400px;}

.briefcitRow { padding-left:2%; width:90%; padding-top:3px; padding-bottom:3px }
